<%# blogs/edit&new %>

<%= form_with model:blog, local:true do |f| %>
  <% if blog.errors.any? %>
    <div class="card text-white bg-danger mb-3 col-8 error offset-2">
      <div class="card-header ">Warning!!!</div>
      <div class="card-body">
        <div class="col-8 offset-2 my-3">
          <h2 class="card-title error"><%= blog.errors.count %>errors appeared</h2>
          <ul>
          <% blog.errors.full_messages.each do |message| %>
            <li class="card-text"><%= message %></li>
          <% end %>
          </ul>
        </div>
      </div>
    </div>
  <% end %>
    <div class="col-8 offset-2 my-3">
      <%= f.attachment_field :image %><br>
    </div>
    <div class="col-8 offset-2 my-3">
      <%= f.label :title, class:"label" %><br>
      <%= f.text_field :title, class:"form-control" %><br>
    </div>
    <div class="col-8 offset-2 my-3">
      <%= f.label :body, class:"label" %><br>
      <%= f.text_area :body, class:"form-control" %><br>
    </div>
    <div class="actions">
      <%= f.submit "Wright blog", class: "btn btn-outline-secondary btn-lg col-6 offset-3 my-4" %>
    </div>
  </div>
<% end %>