<h1>edit</h1>
<% if @blog.errors.any? %>
  <h2><%= pluralize(@blog.errors.count, "error") %>prohibited this book from being saved:</h2>
  <ul>
    <% @blog.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with model:@blog, url:"/blogs/#{@blog.id}", local: true do |f| %>
  <%= f.attachment_field :image %><br>
  <label>title</label><br>
  <%= f.text_field :title %><br>
  <label>body</label><br>
  <%= f.text_area :body %><br>
  <%= f.submit "Update blog" %>
<% end %>