<div class="container">
  <div class="row justify-content-center m-3 p-3">
    <h1>All Blogs  <span><i class="fas fa-palette"></i></span><h1>
  </div>

  <% @blogs.each do |blog| %>
    <p class="card-text">
      <i class="far fa-user"></i>By　
      <%= link_to user_path(blog.user.id), class:"text-decoration-none" do %>
        <%= attachment_image_tag blog.user, :profile_image, size: "60x60", format: "jpeg", class:"border border-secondary rounded-circle img-fluid", fallback: "no_image.jpg" %>
        <span class="text-dark"><%= blog.user.name %></span>
      <% end %>
    </p>
    <div class="card shadow p-3 mb-5 bg-white rounded">
      <div class="row no-gutters">
        <div class="col-md-4">
          <%= link_to blog_path(blog.id), class:"stretched-link" do %>
            <%= attachment_image_tag blog, :image, format: 'jpeg', size: "300x300", class: "card-img img-fluid" %>
        </div>
        <div class="col-md-8 position-static p-3 pl-md-0">
          <% end %>
          <div class="text-muted col-md-4 offset-md-8"><i class="far fa-calendar-alt"></i> <%= blog.created_at.strftime('%Y/%m/%d') %></div>
        <div class="card-body offset-2"><h2 class="blog-title p-3 text-muted offset-2"><em><%= blog.title %></em></h2>
          <p class="card-text offset-2 pt-3">
            <i class="far fa-comments"></i>　<%= blog.blog_comments.count %>
            <i class="far fa-heart offset-2"></i>　<%= blog.likes.count %>
          </p>
        </div>
      </div>
    </div>
  </div>
  <% end %>
  <%= paginate @blogs %>
</div>
