<h1>new blog</h1>
<%= form_with model:@blog, local:true do |f| %>
  <% if @blog.errors.any? %>
    <h2><%= @blog.errors.count %>errors appeared</h2>
    <ul>
    <% @blog.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  <% end %>

  <%= f.attachment_field :image %><br>
  <label>title</label><br>
  <%= f.text_field :title %><br>
  <label>body</label><br>
  <%= f.text_area :body %><br>
  <%= f.submit "Send" %>
<% end %>