<div class="container">
  <div class="row justify-content-center m-3 p-3">
    <% if @user != current_user %>
      <h1>Welcome to <%= @user.name %>'s page  <span><i class="fas fa-paper-plane"></i></span></h1>
    <% else %>
      <h1>My page  <span><i class="fas fa-paper-plane"></i></span><h1>
    <% end %>
  </div>
  <%= render 'users/page', blogs: @blogs %>
</div>

<%= paginate @blogs %>

<%# プロフィール %>
<div class="container">
  <div class="row">
    <div class="col-9"><h2>About me</h2></div>
    <div class="col-4">
      <%= attachment_image_tag @user, :profile_image, size: "200x200", format: "jpeg", class:"img-circle", fallback: "no_image.jpg" %>
    </div>
    <div class="col-6">
      <h3 class="profile-name">Name:</h3>
      <p><%= @user.name %></p>
      <h3 class="profile-introduction">Introduction:<h3>
      <p><%= simple_format(@user.introduction) %></p>
      <% if @user.id == current_user.id %>
        <%= link_to "edit profile",edit_user_path(@user), class:"btn btn-outline-danger" %>
      <% end %>
    </div>
  </div>
</div>