<!DOCTYPE html>
<html>
  <head>
    <title>Blogapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/404e462280.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav>
        <ul class="nav justify-content-center p-4">
        <% if user_signed_in? %>
          <li class="nav-item nav-item.list">
            <%= link_to "Home", blogs_path, class:"nav-link text-secondary" %>
          </li>
          <li class="nav-item nav-item.list">
            <%= link_to "New post", new_blog_path, class:"nav-link text-secondary" %>
          </li>
          <li class="nav-item  nav-item.list">
            <%= link_to "My page", user_path(current_user.id), class:"nav-link text-secondary" %>
          </li>
          <li class="nav-item nav-item.list">
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class:"nav-link  text-secondary" %>
          </li>
        <%  else %>
          <li class="nav-item">
            <%= link_to "Home", root_path, class:"nav-link text-secondary" %>
          </li>
          <li class="nav-item">
            <%= link_to "About", home_about_path, class:"nav-link text-secondary" %>
          </li>
          <li class="nav-item nav-item.list">
            <%= link_to "Sign up", new_user_registration_path, class:"nav-link text-secondary" %>
          </li>
          <li class="nav-item nav-item.list">
            <%= link_to "Log in", new_user_session_path, class:"nav-link text-secondary" %>
          </li>
        <% end %>
        </ul>
      </nav>
    </header>

    <div class="body">
      <% flash.each do |key,value| %>
        <%= content_tag(:div, value, class: "#{key}") %>
      <% end %>
    <%= yield %>
  </body>
</html>
